%padding {
	padding: 30px;
}

%cover {
	background-size: cover;
	background-position: center center;
}


%no-aa {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	text-rendering: auto;
}
