// Colours
$primary: #ce577c;
$secondary: #3b4764;
$grey: #76777e;
$greydark: #01373d;
$greymid: #76777e;
$greylight: #d9d9d9;
$greybg: #f6f6f6;
$black: #111111;

// Fonts
$montserrat: "Montserrat", sans-serif;
